.mainpage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 75px);
    width: 100%;
    gap: 2rem;
}

.mainpage-text{
    width: 720px;
    text-align: center;
}

.mainpage-title{
    font-size: 40px;
}

.mainpage-flexbox{
    display: flex;
    gap: 5rem;
    margin-top: -75px;
}

.mainpage-photo img{
    width: 350px;
    height: auto;
    border-radius: 50%;
}

@media only screen and (max-width: 768px){
    .mainpage-container{
        justify-content: center;
        gap: 0;
    }

    .mainpage-flexbox{
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .mainpage-title{
        font-size: 18px;
    }

    .mainpage-title h1{
        margin: 0;
    }

    .mainpage-text{
        width: 300px;
        padding: 0 20px;
    }

    .mainpage-photo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainpage-photo img{
        width: 150px;
    }
}
